.y-title {
  /* prettier-ignore */
  padding-top: 20PX;
  text-align: center;
  font-size: 34px;
  color: #000;
  background: rgb(255, 255, 255);
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}