.y-no-data {
  width: 700px;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 100px 0 40px;

  &-icon {
    width: 140px;
    height: 140px;
    margin: 20px auto;

  }

  &-desc {
    color: #a8abb3;
    font-size: 28px;
    text-align: center;
  }
}