.y-tab {
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 50PX;
  padding-top: 8PX;
  // border: 0 solid #efefef;
  // border-bottom-width: 1px;
  width: 100%;

  &-item {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    &-ce {
      text-align: center;
      color: #888888;
      font-size: 32px;
      font-weight: 700;
      padding-top: 6PX;
      display: flex;
      align-items: center;
      flex-direction: row;

      &-active {
        color: #000000;
      }
    }

    &-border {
      width: 90px;
      height: 8px;
      margin: 8px auto 0;
      border-radius: 4px;

      &-active {
        background: $color-brand;
      }

    }
  }


}